@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    --cwgreen: #538d4e;
    --cwyellow: #b59f3b;
    --cwgray: #3a3a3c;
    --cwinvalid: #CB4C4E;
 
    --caccent1: #798C7A;
    --caccent2: #A8BFAA;
    --clight: #F2F2F2;
    --cmid: #404040;
    --cdark: #0D0D0D;

    /* disable selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Old version of Firefox */
    -ms-user-select: none; /* Internet Explorer or Edge */
    user-select: none; /* All modern browsers */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cmid);
    color: var(--clight);
}

@media only screen and (max-width: 600px) {
    header,
    main {
        width: 100%;
    }
}

header,
main {
    width: 60%;
}


header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.instructions {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#output {
    color: var(--caccent2);
    text-transform: uppercase;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letter-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 16em;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1.2em;
    height: 2em;
    padding: 0;
}

input[type="button"] {
    background-color: var(--caccent2);
    padding: 0 2em 0 2em;
    border: none;
    color: var(--cmid);
    border-radius: 5px;
    font-weight: 900;
}

.pad-right {
    padding-right: .5em;
}

.word {
    display: flex;
    gap: 0.25em;
    justify-content: center;
    padding-bottom: 1em;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    background-color: var(--cwgray);
	font: inherit;
    font-weight: 900;
    text-transform: uppercase;

	/* button reset
    background: none; */
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}


.green {
    color: var(--clight);
    background-color: var(--cwgreen);
}
.yellow {
    color: var(--clight);
    background-color: var(--cwyellow);
}
.red {
    background-color: var(--cwinvalid);
}