@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    --caccent1: #798C7A;
    --caccent2: #A8BFAA;
    --clight: #F2F2F2;
    --cmid: #404040;
    --cdark: #0D0D0D;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cmid);
    color: var(--clight);
}

@media only screen and (max-width: 600px) {
    header,
    main {
        width: 100%;
    }
}

header,
main {
    width: 60%;
}


header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.output {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#output {
    color: var(--caccent2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letter-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1.2em;
    height: 2em;
    padding: 0;
}

input[type="button"] {
    background-color: var(--caccent2);
    padding: 0 2em 0 2em;
    border: none;
    color: var(--cmid);
    border-radius: 5px;
    font-weight: 900;   
}

.pad-right {
    padding-right: .5em;
}